@import "tailwindcss";

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-blue-900);
  --color-primary: var(--color-slate-100);
  --color-secondary: var(--color-blue-200);
  --color-hover: var(--color-blue-500);
  --font-sans: var(--font-inter);
}

/*
-- background: (white)
-- foreground: (dark blue)

*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
